* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


h1{
    text-align: center;
    margin-bottom: 20px;
    font-size: 70px;
    letter-spacing: 0.5cap;
    color: rgba(52, 136, 136, 0.995);
}

.box{
    margin: 150px;
}

.card {
    background-color: rgb(118, 78, 78);
    border: 1px solid #a3a8a9;
    padding: 20px;
    margin: 0 auto;
    box-shadow: 2px 2px 12px #19191a;
    transition: transform 0.3s ease;
    min-width: 700px;
    min-height: 300px;
    height: fit-content;
    width: fit-content;
}
  
.card:hover {
    transform: translateY(-10px);
}

ul{
    color: black;
}

li{
    background-color: aliceblue;
    border-radius: 5px; 
    padding: 10px; 
    max-width: 400px; 
    margin-left: 40px; 
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between; 
    align-items: center;    
}

#btn-done{
    margin-left: 200px;
    color:black;
    background-color: #a3a8a9;
}

#btn-delete{
    margin-left: 5px;
}

#para{
    font-size: 30px;
    color: #a3a8a9bd;
    margin: 0 auto;
    font-style: italic;
}